{require_otp_vsn, "R16|17|18|19"}.

{lib_dirs, ["deps"]}.

{erl_opts, [ debug_info
           , {parse_transform, lager_transform}
           ]}.

{xref_checks, [ undefined_function_calls
              , deprecated_function_calls]}.

{deps, [ {gen_nb_server, "",
               {git, "https://github.com/kevsmith/gen_nb_server.git",
                {ref, "ce8c342cb82b33368a6bc37893db116fd7d1f543"}}}
       , {lager, "",
               {git, "https://github.com/erlang-lager/lager.git",
                 {tag, "3.5.1"}}}
       , {'erlang-redis', "",
               {git, "https://github.com/gar1t/erlang-redis.git",
                 {ref, "fac07e2b6d75d3866221f953c12c3fd066bc1ad1"}}}
       ]}.
