{require_otp_vsn, "R16|17|18|19"}.

{lib_dirs, ["deps"]}.

{deps, [ {'erlang-redis', "",
               {git, "https://github.com/gar1t/erlang-redis.git",
                {ref, "fac07e2b6d75d3866221f953c12c3fd066bc1ad1"}}}
       , {erldis, "",
               {git, "https://github.com/cstar/erldis.git",
                {tag, "v0.4"}}}
       , {gen_nb_server, "",
               {git, "https://github.com/kevsmith/gen_nb_server.git",
                {tag, "v1.0"}}}
       , {lager, "",
               {git, "https://github.com/erlang-lager/lager.git",
                 {tag, "3.5.1"}}}
       ]}.
