{require_otp_vsn, "R20"}.

{lib_dirs, ["deps"]}.

{erl_opts, [ warnings_as_errors
           , debug_info
           , {parse_transform, lager_transform}
           ]}.

{xref_checks, [ undefined_function_calls
              , deprecated_function_calls]}.

{deps, [ {lager, "",
               {git, "https://github.com/erlang-lager/lager.git",
                 {tag, "3.5.1"}}}
       , {eredis, "",
               {git, "https://github.com/wooga/eredis",
                 {tag, "v1.1.0"}}}
       , {ranch, "",
               {git, "https://github.com/ninenines/ranch",
                 {tag, "1.4.0"}}}
       ]}.
